
* {
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* User Defined Class  */

.border{
    border:1px solid white;
    border-radius: 5px;
}

/* centre the text  */
.centre_text{
    text-align: centre;
    font-family: 'Chivo Mono', monospace;
}

.centre_box{
    margin :auto;
}


body {
    background-color: #574abb;
}

.navbar {
    background-color: #000000;
}
.logo{
    border-radius: 50%;
}









a{
    text-decoration: none;
}
:root{
    --bgc:#00002c;
}

body{
    background-color: var(--bgc);
}

/* User Defined Class  */

.border{
    border:1px solid white;
    border-radius: 5px;
}

/* centre the text  */
.centre_text{
    text-align: centre;
    font-family: 'Chivo Mono', monospace;
}

.centre_box{
    margin :auto;
}



/* Navbar Design */

nav{
   background-color: var(--bgc);
    width:100%;
    height:8vh;
    display:flex;
    justify-content: space-around;
    /* To Centre verically items  */
    align-items: center; 


}

/* web_logo Style  */
.web_logo{
    height:95%;
    width:45px;
   
    border-radius: 50%;
}
.web_logo img{
    height:100%;
    width:100%;
    border-radius: 50%;

}

img:hover{
    scale:1.06;
}

.slogan{

animation: zoom-in-zoom-out 3s ease-in-out infinite;
/* The animation has both a slow start and a slow end */
/* animation: zoom-in-zoom-out 3s ease-in-out 10; */
/* animation-iteration-count: 2; 2=> times played infinite => infinite times played  */
color:white;
}


.fav_list a,h1{
    color:white;
    /* When any erroe occured to load go0gle font */
    font-family:'Courier New', Courier, monospace;

    font-family: 'Chivo Mono', monospace; 
    font-weight: 900;
}

.fav_list:hover{
    scale: 1.2;
}







.recipe-list {
    margin: auto;
}

.card {
    background-color: #23212E;
    border-radius: 20px;
    color: #CFCECE
}

.btn-warning {
    background: rgb(241, 161, 49);
    background: linear-gradient(90deg, rgba(241, 161, 49, 1) 1%, rgba(244, 149, 44, 1) 30%, rgba(250, 197, 63, 1) 66%);
    border-radius: 20px;
    padding: 0.4rem 2rem;
    color: white!important;
}
.white{
    color: white;
}
.food-wid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.heading{
    font-family: 'Anton', sans-serif;
}

#recipe-intro{
    font-weight: lighter!important;
    word-spacing: 0.3rem;
    
}

.btn-success:hover{
 transform: scale(1.2);
}

.fa-heart{
    color:var(--bgc);
}



.meal_detail_text {
    color: black !important;
}


/* ===== search_box  =======  */
.search_box{
    background-color: white;
 margin-top:5vh;  
 height:30px; 
 width:40vw;
 min-width:220px;
 display:flex;
 /* justify-content:space-between; */
 align-items: center;


}

.search_icon{
 font-size: x-large;
}


.search_box input{
    width:30vw;
    min-width: 180px;
    height:100%;
    flex-grow:1;
    
}

input::placeholder {
    color:black;
    font-family: 'Chivo Mono', monospace; 
    font-weight: 900;
    font-size:larger;
}



/* ======= */

.web_logo{
    border-radius: 50%;
}